<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container">
      <div class="row min-vh-100">
        <div class="col d-flex flex-column justify-content-center">
          <p>Welcome to my portflio</p>
          <h1 class="fs-1">Gursimran Kaur Sandhu</h1>
          <p>A Web Developer</p>
          <!-- resume link -->
          <a href="/#" class="btn btn-dark w-fit-content">Resume</a>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="/images/home.svg" class="img-fluid w-75" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
