<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <!-- welcome message -->
    <div
      class="min-vh-100 d-flex justify-content-center flex-column align-items-center"
    >
      <h1><%= title %></h1>
      <p>Welcome to <%= title %>'s Portfolio</p>
      <a href="/about" class="btn btn-dark">About me</a>
    </div>
  </body>
</html>
