<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <!-- welcome message -->
    <div
      class="min-vh-100 d-flex justify-content-center flex-column align-items-center"
    >
      <h1><%= title %></h1>
      <p class="w-75 text-center">
        Welcome to <%= title %>'s Portfolio <br />
        My goal is to work at a organization where I can provide my valueable
        contribution and grow as a Software Developer
      </p>

      <a href="/about" class="btn btn-dark">About me</a>
    </div>
  </body>
</html>
