<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <form
        action="/login"
        method="POST"
        class="form w-100 mshadow p-4 border rounded"
      >
        <h1 class="mb-4">Login</h1>

        <!-- messages -->
        <% if(messages.success) { %>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <%= messages.success %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %> <% if(messages.error) { %>
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <%= messages.error %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
          />
        </div>

        <button type="submit" class="btn btn-dark">Login</button>
      </form>
    </div>
  </body>
</html>
