<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container">
      <h1 class="fs-1 my-4"><%= title %></h1>
      <!-- projects container -->
      <div class="row g-4">
        <div class="col col-12 col-md-4">
          <!-- project card 1-->
          <div class="card">
            <img src="/images/project-1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Library Management</h5>
              <p class="card-text">
                A Library management system where we can manage our library
                database in a simple and easy manner.
              </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <!-- project card 2-->
          <div class="card">
            <img src="/images/project-2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Social Media</h5>
              <p class="card-text">
                A Social media app where users can interact and share posts
                about their day to day life and stay connected!
              </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <!-- project card 3-->
          <div class="card">
            <img src="/images/project-3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Food Delivery App</h5>
              <p class="card-text">
                Food Delivery application where users can order food get their
                food delivered at their door.
              </p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
