<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="container">
      <h1 class="fs-1 my-4"><%= title %></h1>
      <!-- services container -->
      <div class="row g-4">
        <div class="col col-12 col-md-4">
          <div class="card text-center">
            <img src="/images/web.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">
                I can help you create all types of web-based software and ensure
                great experience for web users.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="card text-center">
            <img src="/images/project-2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Web Hosting</h5>
              <p class="card-text">
                Get web hosting services at an affordable rates.
              </p>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="card text-center">
            <img src="/images/project-3.avif" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Digital marketting</h5>
              <p class="card-text">
                I can help you excel at selling your product by my digital
                marketting skills
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
